<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PNW JUICE STORE</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

<body>
	  <div>
      <div class="row">
        <div class="centered">
          <h1><strong>PNW JUICE</strong></h1>
          <h4>Everything Juice!</h4>
        </div>
      </div>
  </div>
  <img src="abjuice.png" style="width:330px;height:300px;" class="center">
</body>
</html>




